@model WebApplication1.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Modifier mot de passe";
}

<h3><a href="#">@ViewBag.Title</a></h3>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    
    <div class="row">
        <div class="large-6 columns">
            <div class="panel radius">

                <div class="row collapse">
                    <div class="large-6 columns">
                        <span class="prefix">@Html.LabelFor(model => model.OldPassword, htmlAttributes: new { @class = "control-label col-md-2" })</span>
                    </div>
                    <div class="small-6 columns">
                        @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="row collapse">
                    <div class="large-6 columns">
                        <span class="prefix">@Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-2" })</span>
                    </div>
                    <div class="small-6 columns">
                        @Html.EditorFor(model => model.OldPassword, new { NewPassword = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="row collapse">
                    <div class="large-6 columns">
                        <span class="prefix">@Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })</span>
                    </div>
                    <div class="small-6 columns">
                        @Html.EditorFor(model => model.OldPassword, new { ConfirmPassword = new { @class = "form-control" } })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Modifier" class="button radius success" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}