@model WebApplication1.Models.IndexViewModel
@{
    ViewBag.Title = "Gérer compte";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    <dl class="dl-horizontal">
        @if (Model.images != null)
        {
            <dd>
                <img src="data:image;base64,@System.Convert.ToBase64String(Model.images.image)" width="120" height="120" />  
            </dd>
        }
        else
        {
            <img src="~/Content/Petcare/img/user.png" height="150" width="150" max-width="150" />
        }
        <dt>Prenom:</dt>
        <dd>
            @Model.Name
        </dd>
        <dt>Nom:</dt>
        <dd>
            @Model.LastName
        </dd>
        <dt>Email:</dt>
        <dd>
            @Model.Email
        </dd>
        <dt>Mot de passe:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Modifier mot de passe", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>         
    </dl>
</div>
