@model WebApplication1.Models.RegisterViewModel
@{
    ViewBag.Title = "Nouveau compte";
    ViewBag.Description = "Renseignez vos informations personnelles";
}

<h3><a href="#">@ViewBag.Title</a></h3>
<h6>@ViewBag.Description</h6>
<h6>&nbsp;</h6>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype ="multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="row">
        <div class="large-6 columns">
            <div class="panel radius">
                <h4>Identité</h4>
                <div class="row collapse">
                    <div class="large-3 columns">
                        <span class="prefix">@Html.DisplayNameFor(model => model.Name)</span>
                    </div>
                    <div class="small-9 columns">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @required = "required", @placeholder = "Tapez votre prénom ici" })
                    </div>
                </div>

                <div class="row collapse">
                    <div class="large-3 columns">
                        <span class="prefix">@Html.DisplayNameFor(model => model.LastName)</span>
                    </div>
                    <div class="small-9 columns">
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @required = "required", @placeholder = "Tapez votre nom ici" })
                    </div>
                </div>

                <div class="row collapse">
                    <div class="large-3 columns">
                        <span class="prefix">@Html.DisplayNameFor(model => model.Birthdate)</span>
                    </div>
                    <div class="small-9 columns">
                        @Html.TextBoxFor(m => m.Birthdate, new { @class = "form-control", @required = "required", @placeholder = "Entrez votre date de naissance ici (aaaa/mm/jj)" })
                    </div>
                </div>

                <div class="row collapse">
                    <div class="large-12 columns">
                        <input type="file" name="file" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="large-6 columns">
            <div class="panel radius">
                <h4>Coordonnées</h4>
                
                <div class="row collapse">
                    <div class="large-3 columns">
                        <span class="prefix">@Html.DisplayNameFor(model => model.PhoneNumber)</span>
                    </div>
                    <div class="small-9 columns">
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @required = "required", @placeholder = "Tapez votre numéro de téléphone ici" })
                    </div>
                </div>

                <div class="row collapse">
                    <div class="large-3 columns">
                        <span class="prefix">@Html.DisplayNameFor(model => model.Adress)</span>
                    </div>
                    <div class="small-9 columns">
                        @Html.TextAreaFor(m => m.Adress, new { @class = "form-control", @required = "required", @placeholder = "Tapez votre adresse ici" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="large-6 columns">
            <div class="panel radius">
                <h4>Compte</h4>
                <div class="row collapse">
                    <div class="large-3 columns">
                        <span class="prefix">@Html.DisplayNameFor(model => model.Email)</span>
                    </div>
                    <div class="small-9 columns">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @required = "required", @placeholder = "Tapez votre adresse email ici" })
                    </div>
                </div>

                <div class="row collapse">
                    <div class="large-3 columns">
                        <span class="prefix">@Html.DisplayNameFor(model => model.Password)</span>
                    </div>
                    <div class="small-9 columns">
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @required = "required", @placeholder = "Tapez votre mot de passe ici" })
                    </div>
                </div>

                <div class="row collapse">
                    <div class="large-3 columns">
                        <span class="prefix">@Html.DisplayNameFor(model => model.ConfirmPassword)</span>
                    </div>
                    <div class="small-9 columns">
                        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @required = "required", @placeholder = "Confirmez votre mot de passe" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row collapse">
        <div class="large-6 columns">
            <input type="submit" value="S'inscrire'" class="button radius success" />
        </div>
    </div>
}

<h6>&nbsp;</h6>